<!-- Generated template for the HeaderComponent component 
  Componente que representa barra de navegacion
-->
<ion-menu [content]="content">
    
    <ion-header>
    
      <ion-toolbar color=colormenu>
      <ion-title> Menu</ion-title>
      </ion-toolbar>
    </ion-header>
       
    
      <ion-content>
  
        <ion-list >
        <ion-item *ngFor="let perfil of unosperfiles;"> 
          <ion-icon [name]="perfil.ICONO" item-left></ion-icon>
          <button color=light ion-button block medium (click)="iraopcion(perfil.ENTRADA)" >
         <b>{{perfil.DESCRIPCION}}</b> 
         </button>
        </ion-item> 
  
  
        
        </ion-list>
      </ion-content>
    </ion-menu>
  
    <ion-header>
        
        <ion-navbar>
          <button ion-button menuToggle icon-only>
        
            <ion-icon name='menu'></ion-icon>
          
          </button>
         <ion-title>
           PRESTAMO AUDIOVISUALES
         </ion-title>
        
        </ion-navbar>
        
        </ion-header>
  
        <ion-content #content></ion-content>  
  
  <ion-content padding>
    <ion-item-divider color="light" text-wrap>
      <b>BIENVENIDO: {{nombre_usuario}}</b>
    </ion-item-divider>
  
  </ion-content>